<tr data-url="{{ item.url() }}" data-id="{{ item.id }}" class="bg-solarized-base02 hover:bg-solarized-base01 hover:shadow-solarized cursor-pointer">
    <td class="px-2 overflow-hidden text-ellipsis whitespace-nowrap"><span class="editable text-solarized-blue" data-field="name">{{ item.name }}</span></td>
    <td class="px-2 overflow-hidden text-ellipsis whitespace-nowrap"><span class="editable text-solarized-cyan" data-field="artist">{{ item.artist }}</span></td>
    <td class="px-2 overflow-hidden text-ellipsis whitespace-nowrap"><span class="editable text-solarized-green" data-field="album">{{ item.album }}</span></td>
    <td class="px-2 overflow-hidden text-ellipsis whitespace-nowrap text-solarized-magenta">{{ item.play_count }}</td>
    <td class="px-2 overflow-hidden text-ellipsis whitespace-nowrap">
        {% for bookmark in item.bookmarks.values() %}
        <span class="bookmark-emoji cursor-pointer mr-1 text-solarized-orange" data-position="{{ bookmark.position.as_secs() }}">
            {{ bookmark.emoji|if_empty("🔖") }}
        </span>
        {% endfor %}
    </td>
</tr>
