<tr data-url="{{ item.url() }}" data-id="{{ item.id }}">
    <td><span class="editable" data-field="name">{{ item.name }}</span></td>
    <td><span class="editable" data-field="artist">{{ item.artist }}</span></td>
    <td><span class="editable" data-field="album">{{ item.album }}</span></td>
    <td>{{ item.play_count }}</td>
    <td>
        {% for bookmark in item.bookmarks.values() %}
        <span class="bookmark-emoji" data-position="{{ bookmark.position.as_secs() }}">
            {{ bookmark.emoji|if_empty("🔖") }}
        </span>
        {% endfor %}
    </td>
</tr>
