# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.cs]
# IDE0160: Convert to file-scoped namespace
csharp_style_namespace_declarations = file_scoped:warning
