[package]
name = "reitunes"
description = "Reilly Wood's personal music library, Rust edition"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.87"
rusqlite = { version = "0.32.1", features = ["bundled"] }
serde_rusqlite = "0.36.0"
uuid = {version = "1.10.0", features = ["serde"]}
serde = { version = "1.0.210", features = ["derive", "rc"] }
serde_json = "1.0.128"
time = { version = "0.3", features = ["macros", "serde-well-known"] }
axum = { version = "0.7.5", features = ["ws"] }
reqwest = { version = "0.12.7", features = ["json"] }
tokio = { version = "1.44.2", features = ["full"] }
tower-http = { version = "0.5.2", features = ["fs"] }
tower-livereload = "0.9.3"
tracing = "0.1"
tracing-subscriber = "0.3"
indexmap = { version = "2.5.0", features = ["serde"] }
askama = {version = "0.12.1" , features = ["serde-json"] }
clap = { version = "4.5.17", features = ["derive"] }
dirs = "5.0.1"
r2d2 = "0.8.10"
r2d2_sqlite = "0.25.0"
jiff = { version = "0.1.12", features = ["serde"] }
hostname = "0.4.0"
rust-embed = { version = "8.2.0", features = ["axum-ex"] }
mime_guess = "2.0.4"
tower-cookies = "0.10.0"
axum-macros = "0.4.1"
sha2 = "0.10.8"
openssl = { version = "0.10.72", features = ["vendored"] }
