<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  IgnorableNamespaces="uap mp uap3 uap5">

  <Identity
    Name="2b3c53fd-b804-4e1e-b26c-cae302ea1108"
    Publisher="CN=ReillyReiTunesCert"
    Version="1.3.21.0" />

  <mp:PhoneIdentity PhoneProductId="2b3c53fd-b804-4e1e-b26c-cae302ea1108" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>ReiTunes</DisplayName>
    <PublisherDisplayName>reilly</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="ReiTunes.App">
      <uap:VisualElements
        DisplayName="ReiTunes"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="A homebrew UWP music player for and by Reilly Wood"
        BackgroundColor="transparent">
        <uap:DefaultTile  Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png" ShortName="ReiTunes">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile  >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap5:Extension
            Category="windows.appExecutionAlias"
            Executable="ReiTunes.exe"
            EntryPoint="ReiTunes.App">
            <uap5:AppExecutionAlias>
              <uap5:ExecutionAlias Alias="ReiTunes.exe" />
            </uap5:AppExecutionAlias>
        </uap5:Extension>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Receive URL">
            <uap:SupportedFileTypes>
              <uap:FileType>.mp3</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DataFormat>WebLink</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="musicLibrary"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <Capability Name="privateNetworkClientServer"/>
  </Capabilities>
</Package>