@page "/"

@using ReiTunes.Core
@inject Library MusicLibrary
@inject LibrarySettings Settings

<h1>@title</h1>

<audio controls src="@audioUri" autoplay="true" class="w-full">
    Your browser does not support the<code>audio</code> element.
</audio>

@foreach (LibraryItem item in MusicLibrary.Items)
{
    <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold m-1 py-2 px-4 border border-blue-700 rounded"
    @onclick="() => ItemClicked(item)">
    @item.Name
</button>
}

@code {
    private string title = "Default Title";
    private string audioUri = "";
    ElementReference AudioPlayer;

    private async Task ItemClicked(LibraryItem item)
    {
        Console.WriteLine($"Click handler for {item.Name}");

        var expectedPath = Path.Combine(Settings.MusicFileLocation, item.FilePath);

        if (File.Exists(expectedPath))
        {
            title = item.Name;
            audioUri = $"musiclibrary/{item.FilePath}";
        }
        else
        {
            Console.WriteLine($"File not found at {expectedPath}");
        }

    }
}
