@page "/"

@using ReiTunes.Core
@inject Library MusicLibrary

@{
    var cloudMusicLocation = new Uri("https://reitunes.blob.core.windows.net/music/");
}
    
@foreach (LibraryItem item in MusicLibrary.Items.Take(10))
{
    <p><a href="@(new Uri(cloudMusicLocation, item.FilePath))">@item.Name</a></p>
}
