@inherits LayoutComponentBase
@using ReiTunes.Core
@inject Library MusicLibrary

<div class="flex flex-col h-full @debug">

    <div class="flex flex-row h-10 px-2 items-center">

        <span class="flex-grow font-bold text-solarized-blue mx-1 text-lg">
            ReiTunes v1.3.3.7
        </span>

        <button class="bg-solarized-base3 dark:bg-solarized-base02
    hover:bg-solarized-blue hover:text-solarized-base3
    text-solarized-blue dark:text-solarized-base3 font-bold m-1 py-1 px-4 border-2 border-solarized-blue rounded"
    @onclick="() => Push()">
        Push ⬆️
    </button>

    <button class="bg-solarized-base3 dark:bg-solarized-base02
    hover:bg-solarized-blue hover:text-solarized-base3
    text-solarized-blue dark:text-solarized-base3 font-bold m-1 py-1 px-4 border-2 border-solarized-blue rounded"
    @onclick="() => Pull()">
        Pull ⬇️
    </button>
    </div>

    <main class="app">
        @Body
    </main>

    <!-- hiding for now, not currently in use -->
    <footer class="hidden bg-gradient-to-b to-dotnet-blurple
                        from-white dark:from-neutral-900
                        text-black dark:text-white

                    bottom-0 w-full
                    text-lg leading-[60px]
                    flex flex-row justify-evenly">

        <div class="font-mono">
            blah blah blah
        </div>
    </footer>

</div>

@code
{
    // https://github.com/jorenvanhee/tailwindcss-debug-screens
    // this could be done at run time but the code is different for wasm vs server
    #if DEBUG
    private string debug = "debug-screens";
    #else
    private string debug = "";
    #endif

    private async Task Pull()
    {
        // FIXME: this doesn't refresh Index.razor after the pull. Either it should or this logic should be moved
        await MusicLibrary.PullFromServer();
    }

    private async Task Push()
    {
        await MusicLibrary.PushToServer();
    }
}
