@inherits LayoutComponentBase

<div class="flex flex-col h-full @debug">
    
    <div class="bg-gradient-to-r from-[#052767] via-dotnet-blurple 
                                to-white dark:to-black
                flex flex-row h-12 px-2 items-center">

        <h2 class="flex-grow text-blue-100">
            ReiTunes
        </h2>

        <div class="p-[8px]">
            <!-- TODO: shoould automatically detect dark mode, don't use a switch -->
            <DarkSwitch />
        </div>
    </div>

    <main class="app">
        @Body
    </main>

    <footer class="bg-gradient-to-b to-dotnet-blurple 
                        from-white dark:from-neutral-900 
                        text-black dark:text-white 

                    bottom-0 w-full 
                    text-lg leading-[60px]
                    flex flex-row justify-evenly">

        <div class="font-mono">
            blah blah blah
        </div>
    </footer>

</div>

@code
{
    // https://github.com/jorenvanhee/tailwindcss-debug-screens
    // this could be done at run time but the code is different for wasm vs server
    #if DEBUG
    private string debug = "debug-screens";
    #else
    private string debug = "";
    #endif
}
